/* Estilo para la caja de filtro */
label {
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  width: 100%;
  background-color: #fff;
}

#pageSize {
  margin-bottom: 1em;
  margin-top: 1em;
  width: 5em;
  height: 2em;
  padding: 0;
  background-color: #fff;
}

/* Badge dinámico */
.badge-container {
  display: flex;
  align-items: center;
}

.badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  margin-left: 10px;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.8;
}

/* Alineación correcta de iconos y texto en los botones */
.button-group .btn {
  display: flex;
  align-items: center; /* Alinear el icono y el texto verticalmente */
  justify-content: center; /* Alinear el contenido horizontalmente */
  gap: 8px; /* Espacio entre el icono y el texto */
}

.button-group .btn i {
  font-size: 18px; /* Ajustar el tamaño del icono si es necesario */
  line-height: 0; /* Asegurarse de que el icono esté alineado correctamente */
}

/* Espaciado entre el filtro y la tabla */
.table {
  margin-top: 20px; /* Separar la tabla del filtro */
}

.table-responsive {
  max-height: 400px; /* Altura máxima */
  overflow-y: auto; /* Scroll vertical */
  overflow-x: auto; /* Scroll horizontal */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling en iOS */
}
