<div class="table-responsive">
    <table class="min-w-full table-auto border-collapse">
        <thead>
            <tr class="bg-[#1C355C] text-white">
                <th *ngFor="let actionheader of actionsheaders" class="border px-4 py-2 text-center">{{ actionheader }}
                </th>
                <th *ngFor="let header of headers" class="border px-4 py-2 text-center">{{ header.label }}</th>
            </tr>
        </thead>
        <tbody class="bg-[#F3F4F6] text-black">
            <tr *ngFor="let row of paginatedData" class="hover:bg-gray-200">
                <td *ngFor="let action of actions" class="border px-4 py-2 text-center">
                    <div class="flex justify-center space-x-2">
                        <!-- Botones dinámicos -->
                        <button (click)="action.action(row)" class={{action.class}} style={{action.style}}>
                            <i class="material-icons">{{ action.icon }}</i> {{ action.label }}
                        </button>
                    </div>
                </td>
                <td *ngFor="let header of headers" class="border px-4 py-2 text-center">
                    {{ getValueByKey(row, header.key) }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pagination-container bg-[#FFFFFF] rounded-lg shadow-lg p-2">
    <div class="page-size-container">
        <label for="pageSize" class="label">Tamaño:</label>
        <select id="pageSize" (change)="cambiarTamanoPagina($event)" class="select">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="30">30</option>
        </select>
    </div>
    <div class="page-info">
        <span>{{ inicioRegistros }} - {{ finRegistros }} de {{ data.length }}</span>
    </div>
    <div *ngIf="showPagination()" class="pagination-controls">
        <!-- Botón para ir a la primera página -->
        <button class="pagination-button" (click)="irPrimeraPagina()" [disabled]="numeroDePagina === 1">
            <i class="material-icons">first_page</i>
        </button>
        <!-- Botón para ir a la página anterior -->
        <button class="pagination-button" (click)="cambiarPagina(-1)" [disabled]="numeroDePagina === 1">
            <i class="material-icons">arrow_back_ios</i>
        </button>
        <!-- Botón para ir a la página siguiente -->
        <button class="pagination-button" (click)="cambiarPagina(1)" [disabled]="numeroDePagina >= maxPagina">
            <i class="material-icons">arrow_forward_ios</i>
        </button>
        <!-- Botón para ir a la última página -->
        <button class="pagination-button" (click)="irUltimaPagina()" [disabled]="numeroDePagina >= maxPagina">
            <i class="material-icons">last_page</i>
        </button>
    </div>
</div>