/* Estilo para la caja de filtro */
label {
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  width: 100%;
  background-color: #fff;
}

#pageSize {
  margin-bottom: 1em;
  margin-top: 1em;
  width: 5em;
  height: 2em;
  padding: 0;
  background-color: #fff;
}

/* Badge dinámico */
.badge-container {
  display: flex;
  align-items: center;
}

button:hover {
  background-color: #c62828; /* Color de fondo más oscuro al pasar el mouse */
}

.btn {
  background-color: #1e73be;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #007bff;
  opacity: 0.9;
}

.badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  margin-left: 10px;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.8;
}

/* Alineación correcta de iconos y texto en los botones */
.button-group .btn {
  display: flex;
  align-items: center; /* Alinear el icono y el texto verticalmente */
  justify-content: center; /* Alinear el contenido horizontalmente */
  gap: 8px; /* Espacio entre el icono y el texto */
}

.button-group .btn i {
  font-size: 18px; /* Ajustar el tamaño del icono si es necesario */
  line-height: 0; /* Asegurarse de que el icono esté alineado correctamente */
}

/* Espaciado entre el filtro y la tabla */
.table {
  margin-top: 20px; /* Separar la tabla del filtro */
}

.table-responsive {
  max-height: 400px; /* Altura máxima */
  overflow-y: auto; /* Scroll vertical */
  overflow-x: auto; /* Scroll horizontal */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling en iOS */
}

/* Contenedor general de paginación */
.pagination-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px; /* Espacio entre los elementos */
  margin-top: 10px;
}

/* Contenedor para el selector de cantidad de registros */
.page-size-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.page-size-container .label {
  font-weight: bold;
  margin-right: 5px;
}

.select {
  padding: 2px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  width: 50px;
  text-align: center;
}

/* Información de la paginación */
.page-info {
  font-size: 14px;
  color: #555;
}

/* Controles de paginación */
.pagination-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pagination-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  font-size: 16px;
  padding: 5px;
  transition: color 0.3s, background-color 0.3s;
}

.pagination-button[disabled] {
  color: #ccc;
  cursor: not-allowed;
}

.pagination-button:hover:not([disabled]) {
  color: #000;
  background-color: #e0e0e0; /* Cambia a un gris claro al hacer hover */
}

.pagination-button .material-icons {
  font-size: 20px;
  vertical-align: middle;
}
