<div class="min-h-screen flex flex-col">
  <!-- Navbar -->
  <app-navbar class="fixed top-0 w-full z-10"></app-navbar>

  <!-- Layout principal con Sidebar y contenido -->
  <div class="flex flex-grow mt-[72px]">
    <!-- Sidebar -->
    <app-sidebar class="w-64 fixed top-[72px] h-[calc(100vh-72px)] z-10"></app-sidebar>

    <!-- Contenido principal -->
    <div class="flex-grow ml-64">
      <div class="max-w-5xl mx-auto p-4">
        <!-- Título de la Solicitud -->
        <div class="bg-gray-100 p-4 rounded-lg shadow-md">
          <h2 class="text-2xl font-semibold mb-4">Solicitud de análisis telefónico</h2>

          <!-- Detalle de solicitud -->
          <h3 class="text-lg font-semibold mb-2">Detalle de solicitud</h3>
          <form [formGroup]="form">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">
              <div>
                <label class="block text-sm font-medium text-gray-700">Objetivo:</label>
                <input formControlName="objetivo" type="text" 
                  class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              </div>
              <div>
                <label class="block text-sm font-medium text-gray-700">Utilizado por:</label>
                <input formControlName="utilizadoPor" type="text" 
                  class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              </div>
              <div>
                <label class="block text-sm font-medium text-gray-700">Tipo de Objetivo:</label>
                <input formControlName="tipoObjetivo" type="text" 
                  class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              </div>
            </div>
          </form>

          <!-- Tabla de registros de requerimientos -->
          <h3 class="text-lg font-semibold mb-2">Requerimientos</h3>
          <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-blue-900 text-white">
                <tr>
                  <th class="px-6 py-3">Acciones</th>
                  <th class="px-6 py-3">Objetivo</th>
                  <th class="px-6 py-3">Utilizado por</th>
                  <th class="px-6 py-3">Tipo de Objetivo</th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngFor="let requerimiento of requerimientos; let i = index">
                  <td class="px-6 py-4">
                    <!-- Botón Editar -->
                    <button class="bg-blue-500 text-white px-2 py-1 rounded-md mr-2"
                      (click)="cargarRequerimientoEnFormulario(i)">
                      Editar
                    </button>
                    <!-- Botón Eliminar -->
                    <button class="bg-red-500 text-white px-2 py-1 rounded-md" (click)="eliminarRequerimiento(i)">
                      Eliminar
                    </button>
                  </td>
                  <td class="px-6 py-4">{{ requerimiento.tC_Objetivo }}</td>
                  <td class="px-6 py-4">{{ requerimiento.tC_UtilizadoPor }}</td>
                  <td class="px-6 py-4">{{ requerimiento.tN_IdTipo }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Botones -->
          <div class="flex justify-start space-x-4 mt-6">
            <!-- Botón Agregar -->
            <button class="bg-green-500 text-white px-4 py-2 rounded-md flex items-center"
              (click)="agregarRequerimiento()">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" />
              </svg>
              Agregar
            </button>

            <!-- Botón Guardar -->
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md flex items-center" (click)="enviarSolicitud()">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path
                  d="M5 3a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2V5a2 2 0 00-2-2H5zm4 2a1 1 0 011 1v4a1 1 0 11-2 0V6a1 1 0 011-1zm-2 0H5v4a1 1 0 01-2 0V6a1 1 0 012-1h2z" />
              </svg>
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <app-footer class="w-full"></app-footer>
</div>
