<!-- Modal Carga-->
<div class="modal" [ngClass]="{'is-active': isModalVisible}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="is-size-4">Procesando...</p>
    <div class="box has-text-centered">
      <div class="loader"></div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="closeModal()" *ngIf="isModalVisible"></button>
</div>

<div class="flex flex-col mb-0 pb-0">

  <!--Filtro de -->
  <div class="filter-container">
    <h2>Filtro de solicitudes telefónicas</h2>

    <div class="filter-form">
      <!-- Filtrar por carácter - ocupa toda la fila -->
      <div class="form-group filter-full-width">
        <label for="filtro-caracter">Filtrar por carácter:</label>
        <input type="text" id="filtro-caracter" class="w-full p-2 border rounded" placeholder="Ingrese carácter"
          [(ngModel)]="filtroCaracter">
      </div>

      <!-- Estado -->
      <div class="form-group">
        <label for="estado">Estado:</label>
        <div class="badge-container">
          <select [(ngModel)]="estadoTemporal"> <!-- Cambiado a onEstadoChange() -->
            <optgroup label="Solicitud Proveedor">
              <option *ngFor="let estado of cantidadPorEstadoProveedor" [value]="estado.nombre">
                {{ estado.nombre }} ({{ estado.cantidad }})
              </option>
            </optgroup>
            <optgroup label="Solicitud Análisis">
              <option *ngFor="let estado of cantidadPorEstadoAnalisis" [value]="estado.nombre">
                {{ estado.nombre }} ({{ estado.cantidad }})
              </option>
            </optgroup>
          </select>
        </div>
      </div>

      <!-- Número único -->
      <div class="form-group">
        <label for="numero-unico">Número único:</label>
        <input type="text" id="numero-unico" class="w-full p-2 border rounded" placeholder="Número único"
          [(ngModel)]="numeroUnicoFiltro">
      </div>

      <!-- Fecha inicio -->
      <div class="form-group">
        <label for="fecha-inicio">Fecha inicio:</label>
        <input type="date" id="fecha-inicio" class="w-full p-2 border rounded" [(ngModel)]="fechaInicioFiltro">
      </div>

      <!-- Fecha fin -->
      <div class="form-group">
        <label for="fecha-fin">Fecha fin:</label>
        <input type="date" id="fecha-fin" class="w-full p-2 border rounded" [(ngModel)]="fechaFinFiltro">
      </div>

      <!-- Botones centrados respecto al cuadro -->
      <div class="button-group">
        <button type="button" class="btn limpiar" (click)="limpiarFiltros()">
          <i class="material-icons">cached</i> Limpiar
        </button>

        <button type="button" class="btn filtrar" (click)="filtrarSolicitudes()">
          <i class="material-icons">filter_alt</i> Filtrar
        </button>
      </div>
    </div>
  </div>



  <!-- Contenedor con scroll horizontal y vertical si es necesario -->
  <div class="overflow-x-auto overflow-y-auto max-h-screen">


    <!-- Paginación y tamaño de filas alineados a los bordes -->
    <div class="flex justify-between items-center mt-4 space-x-8">

      <!-- Selector de tamaño de filas alineado a la izquierda -->
      <div class="flex items-center">

        <label for="pageSize" class="mr-2">
          Mostrar:
        </label>

        <select id="pageSize" (change)="cambiarTamanoPagina($event)" class="border border-gray-300 rounded">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>

      </div>

    </div>

    <!-- Tabla con columnas ajustadas y paginación Proveedor -->
    <table *ngIf="mostrarTablaProveedor" class="min-w-full table-auto border-collapse">
      <thead>
        <tr class="bg-[#1C355C] text-white">
          <th *ngFor="let header of encabezados" class="border px-4 py-2 text-center">
            {{header}}
          </th>
        </tr>
      </thead>
      <tbody class="bg-[#F3F4F6] text-black">
        <tr *ngFor="let solicitud of solicitudesPaginadas" [ngClass]="{ 'bg-red-100': solicitud.urgente }"
          class="hover:bg-gray-200">


          <td *ngIf="columnasVisibles['finalizar']" class="border px-4 py-2 text-center">
            <button (click)="abrirModalCambioEstado(solicitud.idSolicitudProveedor, 'Finalizar')" class="text-white px-4 py-2 
              rounded focus:outline-none focus:ring w-[55px]" style="background-color: #1C355C;">
              <i class="material-icons">redo</i>
            </button>
          </td>

          <td *ngIf="columnasVisibles['devolver']" class="border px-4 py-2 text-center">
            <button (click)="abrirModalCambioEstado(solicitud.idSolicitudProveedor, 'Devolver')" class="text-white px-4 py-2 
              rounded focus:outline-none focus:ring w-[55px]" style="background-color: #1C355C;">
              <i class="material-icons">redo</i>
            </button>
          </td>

          <td *ngIf="columnasVisibles['aprobar']" class="border px-4 py-2 text-center">
            <!-- Switch para aprobar -->
            <label class="switch">
              <input type="checkbox" [(ngModel)]="solicitud.aprobado"
                (change)="onSwitchChange(solicitud.idSolicitudProveedor, solicitud.aprobado)"
                [disabled]="isSwitchDisabled">
              <span class="slider round"></span>
            </label>
          </td>

          <td *ngIf="columnasVisibles['sinEfecto']" class="border px-4 py-2 text-center">
            <button (click)="abrirModalCambioEstado(solicitud.idSolicitudProveedor, 'Sin Efecto')" class="text-white px-4 py-2 
              rounded focus:outline-none focus:ring w-[56px]" style="background-color: #1C355C;">
              <i class="material-icons">file_copy_off</i>
            </button>
          </td>

          <td *ngIf="columnasVisibles['historico']" class="border px-4 py-2 text-center">
            <button (click)="abrirModalHistorico(solicitud)" class="text-white px-4 py-2 
              rounded focus:outline-none focus:ring w-[55px]" style="background-color: #1C355C;">
              <i class="material-icons">sports_score</i>
            </button>
          </td>

          <td *ngIf="columnasVisibles['legajo']" class="border px-4 py-2 text-center">
            <button (click)="abrirModalCambioEstado(solicitud.idSolicitudProveedor, 'Legajo')" class="text-white px-4 py-2 
              rounded focus:outline-none focus:ring w-[55px]" style="background-color: #1C355C;">
              <i class="material-icons">do_not_disturb_on_total_silence</i>
            </button>
          </td>

          <td *ngIf="columnasVisibles['requerimientos']" class="border px-4 py-2 text-center">
            <button (click)="abrirModalRequerimientos(solicitud)" class="text-white px-4 py-2 
              rounded focus:outline-none focus:ring w-[55px]" style="background-color: #1C355C;">
              <i class="material-icons">description</i>
            </button>
          </td>

          <td *ngIf="columnasVisibles['ver']" class="border px-4 py-2 text-center">
            <button (click)="abrirModalDeDetalles(solicitud)" class="text-white px-4 py-2 
              rounded focus:outline-none focus:ring w-[55px]" style="background-color: #1C355C;">
              <i class="material-icons">info</i>
            </button>
          </td>

          <td *ngIf="columnasVisibles['solicitud']" class="border px-4 py-2 text-center">
            {{solicitud.idSolicitudProveedor }}
          </td>

          <td *ngIf="columnasVisibles['consecutivo']" class="border px-4 py-2 text-center">
            {{ solicitud.consecutivo }}
          </td>

          <td *ngIf="columnasVisibles['numeroUnico']" class="border px-4 py-2 text-center">
            {{ solicitud.numeroUnico }}
          </td>

          <td *ngIf="columnasVisibles['proveedor']" class="border px-4 py-2 text-center">
            {{solicitud.operadoras[0].nombre }}
          </td>

          <td *ngIf="columnasVisibles['enviadoPor']" class="border px-4 py-2 text-center">
            {{ solicitud.enviadoPor }}
          </td>

          <td *ngIf="columnasVisibles['aprobacion']" class="border px-4 py-2 text-center">
            {{ solicitud.aprobacion }}
          </td>

          <td *ngIf="columnasVisibles['fechaCreacion']" class="border px-4 py-2 text-center">
            {{solicitud.fechaCreacion | date: 'dd/MM/yyyy' }}
          </td>

          <td *ngIf="columnasVisibles['diasTranscurridos']" class="border px-4 py-2 text-center">
            {{calcularDiasTranscurridos(solicitud.fechaCreacion) }}
          </td>

          <td *ngIf="columnasVisibles['estado']" class="border px-4 py-2 text-center">
            {{ solicitud.estado?.nombre }}
          </td>

          <td *ngIf="columnasVisibles['urgente']" class="border px-4 py-2 text-center">
            {{ solicitud.urgente ? 'Sí' :'No' }}
          </td>

          <td *ngIf="columnasVisibles['creadoPor']" class="border px-4 py-2 text-center">
            {{solicitud.usuarioCreador?.nombre }} {{ solicitud.usuarioCreador?.apellido || '' }}
          </td>


        </tr>



      </tbody>
    </table>



    <!-- Tabla 2 -->
    <table *ngIf="!mostrarTablaProveedor" class="min-w-full table-auto border-collapse">
      <thead>
        <tr class="bg-[#1C355C] text-white">
          <th class="border px-4 py-2 text-center">Histórico</th>
          <th class="border px-4 py-2 text-center">Requerimientos</th>
          <th class="border px-4 py-2 text-center">Ver</th>
          <th class="border px-4 py-2 text-center">Solicitud</th>
          <th class="border px-4 py-2 text-center">Número único</th>
          <th class="border px-4 py-2 text-center">Proveedor</th>
          <th class="border px-4 py-2 text-center">Enviado por</th>
          <th class="border px-4 py-2 text-center">Fecha sol. telef.</th>
          <th class="border px-4 py-2 text-center">Fecha sol. análisis</th>
          <th class="border px-4 py-2 text-center">Urgente</th>
        </tr>
      </thead>
      <tbody class="text-black">
        <ng-container *ngFor="let solicitud of solicitudesAnalisis">
          <!-- Opciones de línea gris (una sola fila para cada solicitudAnalisis) -->
          <tr class="bg-gray-100">
            <td colspan="10" class="px-4 py-2 text-left">
              <span>ID Solicitud de Análisis: {{ solicitud.idSolicitudAnalisis }}</span>

              <ng-container *ngIf="obtenerOpcionesPorEstado(solicitud.estado.nombre).includes('Ver histórico')">
                <button class="inline-flex items-center space-x-1">
                  <span class="material-icons text-sm">sports_score</span>
                  <span>Ver histórico</span>
                </button>
                <span> | </span>
              </ng-container>

              <ng-container *ngIf="obtenerOpcionesPorEstado(solicitud.estado.nombre).includes('Ver Solicitud')">
                <button class="inline-flex items-center space-x-1">
                  <span class="material-icons text-sm">info</span>
                  <span>Ver Solicitud</span>
                </button>
                <span> | </span>
              </ng-container>

              <ng-container *ngIf="obtenerOpcionesPorEstado(solicitud.estado.nombre).includes('Descargar informe UAC')">
                <button (click)="abrirModalArchivosUAC(solicitud.idSolicitudAnalisis)" class="inline-flex items-center space-x-1">
                  <span class="material-icons text-sm">download</span>
                  <span>Descargar informe UAC</span>
                </button>
                <span> | </span>
              </ng-container>

              <ng-container
                *ngIf="obtenerOpcionesPorEstado(solicitud.estado.nombre).includes('Descargar informe de Investigador')">
                <button class="inline-flex items-center space-x-1">
                  <span class="material-icons text-sm">download</span>
                  <span>Descargar informe de Investigador</span>
                </button>
                <span> | </span>
              </ng-container>

              <ng-container *ngIf="obtenerOpcionesPorEstado(solicitud.estado.nombre).includes('Agregar informe')">
                <button (click)="abrirModalArchivosInformeFinal()" class="inline-flex items-center space-x-1">
                  <span class="material-icons text-sm">upload</span>
                  <span>Agregar informe</span>
                </button>
                <span> | </span>
              </ng-container>

              <ng-container
                *ngIf="obtenerOpcionesPorEstado(solicitud.estado.nombre).includes('Finalizar solicitud de análisis')">
                <button class="inline-flex items-center space-x-1">
                  <span class="material-icons text-sm">download</span>
                  <span>Finalizar solicitud de análisis</span>
                </button>
                <span> | </span>
              </ng-container>

              <ng-container
                *ngIf="obtenerOpcionesPorEstado(solicitud.estado.nombre).includes('Enviar a legajo solicitud de análisis')">
                <button class="inline-flex items-center space-x-1">
                  <span class="material-icons text-sm">do_not_disturb_on_total_silence</span>
                  <span>Enviar a legajo solicitud de análisis</span>
                </button>
                <span> | </span>
              </ng-container>

              <ng-container
                *ngIf="obtenerOpcionesPorEstado(solicitud.estado.nombre).includes('Devolver al estado anterior')">
                <button class="inline-flex items-center space-x-1">
                  <span class="material-icons text-sm">download</span>
                  <span>Devolver al estado anterior</span>
                </button>
              </ng-container>
            </td>

          </tr>
          <!-- Iterar sobre cada solicitudProveedor dentro de una solicitud de análisis -->
          <ng-container *ngFor="let solicitudProveedor of solicitud.solicitudesProveedor">
            <tr class="bg-[#F3F4F6] border-b border-gray-300 hover:bg-gray-200">
              <td *ngIf="columnasVisibles['historico']" class="border px-4 py-2 text-center">
                <button (click)="abrirModalHistorico(solicitud)" class="text-white px-4 py-2 
                  rounded focus:outline-none focus:ring w-[55px]" style="background-color: #1C355C;">
                  <i class="material-icons">sports_score</i>
                </button>
              </td>

              <td *ngIf="columnasVisibles['requerimientos']" class="border px-4 py-2 text-center">
                <button (click)="abrirModalRequerimientos(solicitud)" class="text-white px-4 py-2 
                  rounded focus:outline-none focus:ring w-[55px]" style="background-color: #1C355C;">
                  <i class="material-icons">description</i>
                </button>
              </td>

              <td class="px-4 py-2 text-center">
                <button (click)="abrirModalDeDetalles(solicitud)" class="text-white px-4 py-2 
              rounded focus:outline-none focus:ring w-[55px]" style="background-color: #1C355C;">
                  <i class="material-icons">info</i>
                </button>
              </td>

              <td class="px-4 py-2 text-center">{{ solicitudProveedor.idSolicitudProveedor }}</td>
              <td class="px-4 py-2 text-center">{{ solicitudProveedor.numeroUnico }}</td>
              <td class="px-4 py-2 text-center">{{ solicitudProveedor.proveedor.nombre }}</td>
              <td class="px-4 py-2 text-center">{{ solicitudProveedor.usuarioCreador.nombre }}</td>
              <td class="px-4 py-2 text-center">{{ solicitudProveedor.fechaCrecion | date: 'dd/MM/yyyy' }}</td>
              <td class="px-4 py-2 text-center">{{ solicitud.fechaCrecion | date: 'dd/MM/yyyy' }}</td>
              <td class="px-4 py-2 text-center">{{ solicitud.urgente ? 'Sí' : 'No' }}</td>

            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>







  </div>

  <!-- Paginación y tamaño de filas centrados -->
  <div class="flex justify-between items-center mt-4 space-x-8">

    <div class="flex items-center">

      <label for="pageSize" class="mr-2">Mostrar registros del {{((this.numeroDePagina - 1) *
        this.cantidadDeRegistros) + 1}}
        al {{((this.numeroDePagina - 1) * this.cantidadDeRegistros) + this.cantidadDeRegistros}}
        de un total de {{solicitudesPaginadas.length}} registros
        (Filtrado de un total de {{solicitudesFiltradas.length}})</label>

    </div>

    <!-- Paginación -->
    <div class="flex items-center space-x-2">

      <!-- Botón regresar -->
      <button class="p-2 rounded bg-gray-200 hover:bg-gray-300" (click)="cambiarPagina(-1)">

        Anterior


      </button>

      <span>{{ numeroDePagina }}</span> <!-- Número de página -->

      <!-- Botón siguiente -->
      <button class="p-2 rounded bg-gray-200 hover:bg-gray-300" (click)="cambiarPagina(1)">
        Siguiente


      </button>

    </div>

  </div>

</div>

<!-- Modal de historico -->
<app-modal-informacion [isModalOpen]="modalHistoricoVisible">
  <!-- Encabezado personalizado del Modal -->
  <div modal-header>
    <h3 *ngIf="solicitudSeleccionada" class="text-lg font-medium">Solicitud #{{
      solicitudSeleccionada.idSolicitudProveedor }}</h3>
    <h3 class="text-lg font-medium">Histórico</h3>
  </div>

  <!-- Cuerpo del Modal -->
  <div>
    <div *ngIf="historicoDeSolicitudSeleccionada">
      <app-tabla-visualizacion [headers]="encabezadosHistorico" [data]="historicoDeSolicitudSeleccionada">
      </app-tabla-visualizacion>
    </div>
  </div>

  <!-- Footer personalizado del Modal -->
  <div modal-footer>
    <div class="buttons-row space-x-4">
      <button type="button" class="bg-[#D32F2F] text-[#FFFFFF] 
        px-4 py-2 rounded focus:outline-none focus:ring focus:ring-blue-300 flex items-center space-x-2"
        (click)="cerrarModalHistorico()">
        <i class="material-icons">cancel</i>
        <span>Cerrar</span>
      </button>
    </div>
  </div>
</app-modal-informacion>

<!-- Modal de solicitud -->
<app-modal-informacion [isModalOpen]="modalVisible">
  <!-- Encabezado personalizado del Modal -->
  <div modal-header>
    <h3 *ngIf="solicitudSeleccionada" class="text-lg font-medium">Solicitud #{{
      solicitudSeleccionada.idSolicitudProveedor }}</h3>
    <h3 class="text-lg font-medium">Solicitud archivos telefónicos a proveedor</h3>
  </div>

  <!-- Cuerpo del Modal -->
  <div>
    <div *ngIf="solicitudSeleccionada">
      <!-- Contenedor desplazable -->
      <div class="scrollable-content">
        <!-- Información General -->
        <div class="grid-section">
          <div>
            <label class="label" for="numeroUnico">Número único:</label>
            <input type="text" id="numeroUnico" class="input" [value]="solicitudSeleccionada.numeroUnico" readonly>
          </div>
          <div>
            <label class="label" for="numeroCaso">Número caso:</label>
            <input type="text" id="numeroCaso" class="input" [value]="solicitudSeleccionada.numeroCaso" readonly>
          </div>
          <div>
            <label class="label" for="fiscalia">Fiscalía:</label>
            <input type="text" id="fiscalia" class="input" [value]="solicitudSeleccionada.fiscalia.nombre" readonly>
          </div>
        </div>
        <!-- Información sobre Delito y Modalidad -->
        <div class="grid-section">
          <div>
            <label class="label" for="categoriaDelito">Categoría delito:</label>
            <input type="text" id="categoriaDelito" class="input" [value]="solicitudSeleccionada.categoriaDelito.nombre"
              readonly>
          </div>
          <div>
            <label class="label" for="modalidad">Modalidad:</label>
            <input type="text" id="modalidad" class="input" [value]="solicitudSeleccionada.modalidad.nombre" readonly>
          </div>
          <div>
            <label class="label" for="imputado">Imputado:</label>
            <input type="text" id="imputado" class="input" [value]="solicitudSeleccionada.imputado" readonly>
          </div>
        </div>
        <!-- Información sobre Delito y Sub Modalidad -->
        <div class="grid-section">
          <div>
            <label class="label" for="delito">Delito:</label>
            <input type="text" id="delito" class="input" [value]="solicitudSeleccionada.delito.nombre" readonly>
          </div>
          <div>
            <label class="label" for="subModalidad">Sub modalidad:</label>
            <input type="text" id="subModalidad" class="input" [value]="solicitudSeleccionada.subModalidad.nombre"
              readonly>
          </div>
          <div>
            <label class="label" for="ofendido">Ofendido:</label>
            <input type="text" id="ofendido" class="input" [value]="solicitudSeleccionada.ofendido" readonly>
          </div>
        </div>
        <!-- Botón de urgente -->
        <div class="grid-section">
          <div>
            <label class="label" for="urgente">Urgente:</label>
            <button type="button" id="urgente" class="text-white py-2 px-4 rounded-md w-full"
              [ngClass]="{'bg-red-600': solicitudSeleccionada.urgente, 'bg-gray-400': !solicitudSeleccionada.urgente}">
              Urgente
            </button>
          </div>
          <div>
            <label class="label" for="oficina">Oficina:</label>
            <input type="text" id="oficina" class="input" readonly>
          </div>
          <div>
            <label class="label" for="operadora">Operadora:</label>
            <input type="text" id="operadora" class="input" [value]="solicitudSeleccionada.operadoras[0].nombre"
              readonly>
          </div>
        </div>
        <!-- Sección de "Registros de requerimientos" -->
        <div class="mt-6">
          <h4 class="text-lg font-medium">Registros de requerimientos</h4>
          <div class="border-t mt-2"></div>
          <div *ngIf="requerimientosDeSolicitudSeleccionada">
            <app-tabla-visualizacion [headers]="encabezadosRequerimientos"
              [data]="requerimientosDeSolicitudSeleccionada">
            </app-tabla-visualizacion>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer personalizado del Modal -->
  <div modal-footer>
    <div class="buttons-row space-x-4">
      <button type="button" class="bg-[#D32F2F] text-[#FFFFFF] 
        px-4 py-2 rounded focus:outline-none focus:ring focus:ring-blue-300 flex items-center space-x-2"
        (click)="cerrarModalDeDetalles()">
        <i class="material-icons">cancel</i>
        <span>Cerrar</span>
      </button>
    </div>
  </div>
</app-modal-informacion>

<!-- Modal para mostrar los requerimientos de la solicitud -->
<app-modal-informacion [isModalOpen]="modalRequerimientosVisible">
  <!-- Encabezado personalizado del Modal -->
  <div modal-header>
    <h3 *ngIf="solicitudSeleccionada" class="text-lg font-medium">Solicitud #{{
      solicitudSeleccionada.idSolicitudProveedor }}</h3>
    <h3 class="text-lg font-medium">Histórico</h3>
  </div>

  <!-- Cuerpo del Modal -->
  <div>
    <div *ngIf="solicitudSeleccionada">
      <app-tabla-visualizacion [headers]="encabezadosRequerimientosTramitados" [data]="requerimientosRespondidos"
        [actions]="accionesrequerimientosRespondidos" [actionsheaders]="encabezadosAccionesRequerimientosTramitados">
      </app-tabla-visualizacion>
    </div>
    <!-- Contenedor para botones de archivos -->
    <div *ngIf="archivos && archivos.length > 0" class="mt-4">
      <button *ngFor="let archivo of archivos" class="text-white px-4 py-2 m-1 rounded focus:outline-none focus:ring"
        style="background-color: #1C355C;" (click)="descargarArchivo(archivo)">
        {{ archivo.nombre }}
      </button>
    </div>
  </div>

  <!-- Footer personalizado del Modal -->
  <div modal-footer>
    <div class="buttons-row space-x-4">
      <button type="button" class="bg-[#D32F2F] text-[#FFFFFF] 
        px-4 py-2 rounded focus:outline-none focus:ring focus:ring-blue-300 flex items-center space-x-2"
        (click)="cerrarModalRequerimientos()">
        <i class="material-icons">cancel</i>
        <span>Cerrar</span>
      </button>
    </div>
  </div>
</app-modal-informacion>

<!-- Modal de confirmación -->
<app-modal-confirmacion [modalEstadoVisible]="modalEstadoVisible" (confirmar)="confirmarCambioEstado()"
  (cancelar)="cerrarModalCambioEstado()">
  <div modal-header>
    <h2 class="text-xl font-semibold mb-4">Confirmar Cambio de Estado</h2>
    <p>¿Estás seguro de que deseas cambiar el estado de esta solicitud a "{{ nuevoEstado }}"?</p>
  </div>
  <div class="mt-4" modal-content>
    <label for="observacion" class="block text-sm font-medium text-gray-700">Observación (opcional)</label>
    <textarea id="observacion" rows="3" [(ngModel)]="observacion"
      class="w-full p-2 border rounded-md focus:outline-none focus:ring"></textarea>
  </div>
</app-modal-confirmacion>

  <!-- Tabla Archivos -->
  <app-modal-informacion [isModalOpen]="modalArchivosUACVisible">
    <div *ngIf="archivosUAC.length > 0; else noArchivosTemplate">
      <app-tabla-visualizacion 
        [headers]="encabezadosArchivosUAC" 
        [data]="archivosUAC" 
        [actions]="accionesArchivosUAC" 
        [actionsheaders]="encabezadosAccionesArchivosUAC">
      </app-tabla-visualizacion>
    </div>
  
    <ng-template #noArchivosTemplate>
      <p>No hay archivos disponibles.</p>
    </ng-template>
  
    <button (click)="cerrarModalArchivosUAC()" class="modal-close is-large">Cerrar</button>
  </app-modal-informacion>


  <!-- Modal Archivos Respuesta -->
<app-modal-informacion [isModalOpen]="modalArchivosInformeFinalVisible">
  <div class="modal-contenido">
    <span class="cerrar" (click)="cerrarModalArchivosInformeFinal()">&times;</span>
    <h2>Subir Archivos</h2>

    <input type="file" (change)="seleccionarArchivosInformeFinal($event)" multiple />

    <ul>
      <li *ngFor="let archivoInforme of archivosInformeFinal">{{ archivoInforme.nombre }}</li>
    </ul>
  </div>
  <button (click)="cerrarModalArchivosInformeFinal()">Guardar</button>
  <button (click)="quitarArchivosInformeFinal()">Limpiar</button>
</app-modal-informacion>