/* Estilo para la caja de filtro */
.filter-container {
  background-color: #f9e4b7;
  padding: 20px;
  border-radius: 10px;
  border-color: #1c355c;
  width: 100%;
  max-width: 800px; /* Ampliar el ancho máximo */
  margin: 0 auto 30px; /* Ajustar el margen para separar la tabla */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para el encabezado del filtro */
.filter-container h2 {
  text-align: center;
  color: #8b6e39;
  font-size: 24px;
}

/* Diseño del formulario: 2 columnas */
.filter-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  grid-gap: 15px;
  margin-top: 20px;
}

/* El filtro por carácter ocupará ambas columnas */
.filter-full-width {
  grid-column: span 2; /* Hacer que el campo ocupe ambas columnas */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo de los campos del formulario */
.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  color: #5b4535;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

select {
  background-color: #fff;
}

/* Badge dinámico */
.badge-container {
  display: flex;
  align-items: center;
}

.badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  margin-left: 10px;
  font-weight: bold;
}

/* Ajuste de los botones */
.button-group {
  grid-column: span 2; /* Hacer que los botones ocupen las dos columnas */
  display: flex;
  justify-content: center; /* Centramos los botones */
  gap: 10px; /* Espaciado entre botones */
  margin-top: 20px; /* Espacio adicional encima de los botones */
}

/* Estilo para los botones */
.btn {
  background-color: #1e73be;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn.limpiar {
  background-color: #0066cc;
}

.btn.filtrar {
  background-color: #00509d;
}

.btn:hover {
  opacity: 0.8;
}

/* Alineación correcta de iconos y texto en los botones */
.button-group .btn {
  display: flex;
  align-items: center; /* Alinear el icono y el texto verticalmente */
  justify-content: center; /* Alinear el contenido horizontalmente */
  gap: 8px; /* Espacio entre el icono y el texto */
}

.button-group .btn i {
  font-size: 18px; /* Ajustar el tamaño del icono si es necesario */
  line-height: 0; /* Asegurarse de que el icono esté alineado correctamente */
}

/* Estilos para el switch */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #1c355c;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

/* Estilos para los labels */
.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Estilo para el botón de cerrar */
.bg-gray-50 {
  background-color: #f9fafb;
  padding: 10px;
}

/* Botón de urgente */
.text-white {
  color: white;
}

.bg-red-600 {
  background-color: #f44336; /* Color rojo */
}

.bg-gray-400 {
  background-color: #b0bec5; /* Color gris */
}

/* Botones */
button {
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Efecto al pasar el mouse sobre el botón de cerrar */
button:hover {
  background-color: #c62828; /* Color de fondo más oscuro al pasar el mouse */
}

/* Contenido desplazable */
.scrollable-content {
  max-height: 60vh; /* Ajusta la altura máxima según lo necesites */
  overflow-y: auto; /* Activa el desplazamiento vertical */
  padding-right: 15px; /* Espacio adicional para el scrollbar */
}

/* Otros estilos de modal como antes */
.fixed {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inline-block {
  padding: 20px;
}

.modal-header {
  text-align: center;
  margin-bottom: 20px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.bg-gray-50 {
  background-color: #f9fafb;
  padding: 10px;
}

.text-white {
  color: white;
}

.bg-red-600 {
  background-color: #f44336; /* Color rojo */
}

.bg-gray-400 {
  background-color: #b0bec5; /* Color gris */
}

button {
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c62828; /* Color de fondo más oscuro al pasar el mouse */
}

.modal {
  display: none;
}

.modal.is-active {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-red-100 {
  background-color: #F8B4B4; /* Rojo más intenso */
}

.colspan {
  background-color: #b0bec5;
}

.scrollable-content {
  max-width: 100%; /* Asegurar que el contenido no se desborde del contenedor padre */
  overflow-x: auto; /* Permitir desplazamiento horizontal si es necesario */
}

/*modal de ver solicitud análisis*/
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 16px 0;
  font-size: 0.9rem;
  text-align: left;
}

.styled-table thead tr {
  background-color: #1c355c;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
}

.form-container {
  margin-bottom: 16px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.form-group {
  flex: 1 1 calc(50% - 16px);
}

.input,
.textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 4px;
}

.buttons-row {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.btn {
  background-color: #1c355c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #d32f2f;
}

/* Contenedor general de paginación */
.pagination-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px; /* Espacio entre los elementos */
  margin-top: 10px;
}

/* Contenedor para el selector de cantidad de registros */
.page-size-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.page-size-container .label {
  font-weight: bold;
  margin-right: 5px;
}

.select {
  padding: 2px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  width: 50px;
  text-align: center;
}

/* Información de la paginación */
.page-info {
  font-size: 14px;
  color: #555;
}

/* Controles de paginación */
.pagination-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pagination-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  font-size: 16px;
  padding: 5px;
  transition: color 0.3s, background-color 0.3s;
}

.pagination-button[disabled] {
  color: #ccc;
  cursor: not-allowed;
}

.pagination-button:hover:not([disabled]) {
  color: #000;
  background-color: #e0e0e0; /* Cambia a un gris claro al hacer hover */
}

.pagination-button .material-icons {
  font-size: 20px;
  vertical-align: middle;
}

.input {
  width: fit-content; /* Ancho flexible según el contenido */
  min-width: 150px; /* Evitar que los campos sean demasiado pequeños */
  max-width: 300px; /* Limitar el ancho máximo para evitar desbordes */
  padding: 8px; /* Agrega espacio interno para mejorar la legibilidad */
  border: 1px solid #ccc; /* Bordes simples para un aspecto limpio */
  border-radius: 4px; /* Bordes redondeados */
  margin-bottom: 15px; /* Espaciado entre inputs */
  white-space: nowrap; /* Evita que el texto se divida en líneas */
  overflow: hidden; /* Ocultar el texto que se desborda */
  text-overflow: ellipsis; /* Muestra '...' si el texto es demasiado largo */
  box-sizing: border-box; /* Incluir el relleno en el ancho total */
}
