<app-modal-procesando [isModalVisible]="isModalVisible"></app-modal-procesando>

<div class="flex flex-col mb-0 pb-0">
    <!--Filtro de -->
    <div class="filter-container">

        <h2>Filtro de solicitudes telefónicas</h2>

        <div class="filter-form">

            <!-- Estado -->
            <div class="form-group">
                <label for="estado">Estado:</label>
                <div class="badge-container">
                    <select [(ngModel)]="estadoSeleccionado"> <!-- Cambiado a onEstadoChange() -->
                        <optgroup label="Solicitud Análisis">
                            <option *ngFor="let estado of estados" [value]="estado.idEstado">
                                {{ estado.nombre }} ({{ estado.cantidadSolicitudes }})
                            </option>
                        </optgroup>
                    </select>
                </div>
            </div>

            <!-- Número único -->
            <div class="form-group">
                <label for="numero-unico">Número único:</label>
                <input type="text" id="numero-unico" class="w-full p-2 border rounded" placeholder="Número único"
                    [(ngModel)]="numeroUnicoFiltro">
            </div>

            <!-- Fecha inicio -->
            <div class="form-group">
                <label for="fecha-inicio">Fecha inicio:</label>
                <input type="date" id="fecha-inicio" class="w-full p-2 border rounded" [(ngModel)]="fechaInicioFiltro">
            </div>

            <!-- Fecha fin -->
            <div class="form-group">
                <label for="fecha-fin">Fecha fin:</label>
                <input type="date" id="fecha-fin" class="w-full p-2 border rounded" [(ngModel)]="fechaFinFiltro">
            </div>

            <!-- Botones centrados respecto al cuadro -->
            <div class="button-group">
                <button type="button" class="btn limpiar" (click)="limpiarFiltros()">
                    <i class="material-icons">cached</i> Limpiar
                </button>
                <button type="button" class="btn filtrar" (click)="filtrarSolicitudes()">
                    <i class="material-icons">filter_alt</i> Filtrar
                </button>
            </div>
        </div>
    </div>

    <!--Barra de busqueda-->
    <div class="flex justify-end items-center mt-4 mb-4">
        <!-- Buscador -->
        <div class="relative w-full max-w-sm">
            <input type="text" placeholder="Buscar" class="w-full p-2 border rounded pr-10" [(ngModel)]="filtroCaracter"
                (ngModelChange)="aplicarFiltroCaracter()" />
            <i class="material-icons absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500">search</i>
        </div>
    </div>

    <!-- Contenedor con scroll horizontal y vertical si es necesario -->
    <div class="overflow-x-auto overflow-y-auto max-h-screen">

        <!-- Tabla -->
        <table class="min-w-full table-auto border-collapse">
            <thead>
                <tr class="bg-[#1C355C] text-white">
                    <th *ngFor="let encabezado of encabezados" class="border px-4 py-2 text-center">{{encabezado}}</th>
                </tr>
            </thead>
            <tbody class="text-black">
                <ng-container *ngFor="let solicitud of solicitudesAnalisisPaginadas">
                    <!-- Opciones de línea gris (una sola fila para cada solicitudAnalisis) -->
                    <tr class="bg-gray-100">
                        <td colspan="12" class="colspan px-4 py-2 text-left">
                            <span>ID Solicitud de Análisis: {{ solicitud.idSolicitudAnalisis }}</span>
                            <ng-container
                                *ngIf="obtenerOpcionesPorEstado(solicitud.estado.nombre).includes('Ver Solicitud')">
                                <span> | </span>
                                <button class="inline-flex items-center space-x-1" (click)="verDetalle(solicitud)">
                                    <span class="material-icons text-sm">info</span>
                                    <span>Ver Solicitud</span>
                                </button>
                                <span> | </span>
                            </ng-container>
                        </td>
                    </tr>
                    <!-- Iterar sobre cada solicitudProveedor dentro de una solicitud de análisis -->
                    <ng-container *ngFor="let solicitudProveedor of solicitud.solicitudesProveedor">
                        <tr class="bg-[#F3F4F6] border-b border-gray-300 hover:bg-gray-200">
                            <td class="border px-4 py-2 text-center">{{ solicitudProveedor.idSolicitudProveedor }}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitudProveedor.numeroUnico }}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitud.nombreUsuarioCreador }}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitud.nombreOficina }}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitud.nombreUsuarioAprobador }}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitud.fechaCreacion | date: 'dd/MM/yyyy' }}
                            </td>
                            <td class="border px-4 py-2 text-center">{{ solicitud.fechaDeAprobacion | date:
                                'dd/MM/yyyy'}}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitud.nombreUsuarioAsignado }}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitud.fechaDeAsignacion | date:
                                'dd/MM/yyyy'}}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitud.estado.nombre }}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitud.urgente ? 'Sí' : 'No' }}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitud.fechaDeAnalizado | date: 'dd/MM/yyyy'
                                }}</td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </table>
    </div>

    <!--Paginacion y cantidad de datos-->
    <div class="pagination-container">
        <div class="page-size-container">
            <label for="pageSize" class="label">Tamaño:</label>
            <select id="pageSize" (change)="cambiarTamanoPagina($event)" class="select">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>
        </div>
        <div class="page-info">
            <span>{{ inicioRegistros }} - {{ finRegistros }} de {{ solicitudesAnalisisFiltradas.length }}</span>
        </div>
        <div class="pagination-controls">
            <!-- Botón para ir a la primera página -->
            <button class="pagination-button" (click)="irPrimeraPagina()" [disabled]="numeroDePagina === 1">
                <i class="material-icons">first_page</i>
            </button>
            <!-- Botón para ir a la página anterior -->
            <button class="pagination-button" (click)="cambiarPagina(-1)" [disabled]="numeroDePagina === 1">
                <i class="material-icons">arrow_back_ios</i>
            </button>
            <!-- Botón para ir a la página siguiente -->
            <button class="pagination-button" (click)="cambiarPagina(1)" [disabled]="numeroDePagina >= maxPagina">
                <i class="material-icons">arrow_forward_ios</i>
            </button>
            <!-- Botón para ir a la última página -->
            <button class="pagination-button" (click)="irUltimaPagina()" [disabled]="numeroDePagina >= maxPagina">
                <i class="material-icons">last_page</i>
            </button>
        </div>
    </div>
</div>