<!-- Modal Carga-->
<div class="modal" [ngClass]="{'is-active': isModalVisible}">
    <div class="modal-background"></div>
    <div class="modal-content">
        <p class="is-size-4">Procesando...</p>
        <div class="box has-text-centered">
            <div class="loader"></div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="modalInvisible()" *ngIf="isModalVisible"></button>
</div>

<div class="flex flex-col mb-0 pb-0">
    <!--Filtro de -->
    <div class="filter-container">

        <h2>Filtro de solicitudes telefónicas</h2>

        <div class="filter-form">

            <!-- Filtrar por carácter - ocupa toda la fila -->
            <div class="form-group filter-full-width">
                <label for="filtro-caracter">Filtrar por carácter:</label>
                <input type="text" id="filtro-caracter" class="w-full p-2 border rounded" placeholder="Ingrese carácter"
                    [(ngModel)]="filtroCaracter" (ngModelChange)="aplicarFiltroCaracter()">
            </div>            

            <!-- Estado -->
            <div class="form-group">
                <label for="estado">Estado:</label>
                <div class="badge-container">
                    <select [(ngModel)]="estadoSeleccionado"> <!-- Cambiado a onEstadoChange() -->
                        <optgroup label="Solicitud Análisis">
                            <option *ngFor="let estado of estados" [value]="estado.idEstado">
                                {{ estado.nombre }}
                            </option>
                        </optgroup>
                    </select>
                </div>
            </div>

            <!-- Número único -->
            <div class="form-group">
                <label for="numero-unico">Número único:</label>
                <input type="text" id="numero-unico" class="w-full p-2 border rounded" placeholder="Número único"
                    [(ngModel)]="numeroUnicoFiltro">
            </div>

            <!-- Fecha inicio -->
            <div class="form-group">
                <label for="fecha-inicio">Fecha inicio:</label>
                <input type="date" id="fecha-inicio" class="w-full p-2 border rounded" [(ngModel)]="fechaInicioFiltro">
            </div>

            <!-- Fecha fin -->
            <div class="form-group">
                <label for="fecha-fin">Fecha fin:</label>
                <input type="date" id="fecha-fin" class="w-full p-2 border rounded" [(ngModel)]="fechaFinFiltro">
            </div>

            <!-- Botones centrados respecto al cuadro -->
            <div class="button-group">
                <button type="button" class="btn limpiar" (click)="limpiarFiltros()">
                    <i class="material-icons">cached</i> Limpiar
                </button>
                <button type="button" class="btn filtrar" (click)="filtrarSolicitudes()">
                    <i class="material-icons">filter_alt</i> Filtrar
                </button>
            </div>
        </div>
    </div>

    <!-- Contenedor con scroll horizontal y vertical si es necesario -->
    <div class="overflow-x-auto overflow-y-auto max-h-screen">

        <!-- Paginación y tamaño de filas alineados a los bordes -->
        <div class="flex justify-between items-center mt-4 space-x-8">
            <!-- Selector de tamaño de filas alineado a la izquierda -->
            <div class="flex items-center">
                <label for="pageSize" class="mr-2">
                    Mostrar:
                </label>
                <select id="pageSize" (change)="cambiarTamanoPagina($event)" class="border border-gray-300 rounded">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
            </div>
        </div>

        <!-- Tabla -->
        <table class="min-w-full table-auto border-collapse">
            <thead>
                <tr class="bg-[#1C355C] text-white">
                    <th *ngFor="let encabezado of encabezados" class="border px-4 py-2 text-center">{{encabezado}}</th>
                </tr>
            </thead>
            <tbody class="text-black">
                <ng-container *ngFor="let solicitud of solicitudesAnalisisPaginadas">
                    <!-- Opciones de línea gris (una sola fila para cada solicitudAnalisis) -->
                    <tr class="bg-gray-100">
                        <td colspan="12" class="colspan px-4 py-2 text-left">
                            <span>ID Solicitud de Análisis: {{ solicitud.idSolicitudAnalisis }}</span>
                            <ng-container *ngIf="obtenerOpcionesPorEstado(solicitud.estado.nombre).includes('Ver Solicitud')">
                                <span> | </span>
                                <button class="inline-flex items-center space-x-1" (click)="verDetalle(solicitud)">
                                    <span class="material-icons text-sm">info</span>
                                    <span>Ver Solicitud</span>
                                </button>
                                <span> | </span>
                            </ng-container>
                        </td>
                    </tr>
                    <!-- Iterar sobre cada solicitudProveedor dentro de una solicitud de análisis -->
                    <ng-container *ngFor="let solicitudProveedor of solicitud.solicitudesProveedor">
                        <tr class="bg-[#F3F4F6] border-b border-gray-300 hover:bg-gray-200">
                            <td class="border px-4 py-2 text-center">{{ solicitudProveedor.idSolicitudProveedor }}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitudProveedor.numeroUnico }}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitudProveedor.usuarioCreador.nombre }}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitudProveedor.oficina }}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitudProveedor.aprobador }}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitudProveedor.fechaCrecion | date: 'dd/MM/yyyy' }}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitudProveedor.fechaAprobacion | date: 'dd/MM/yyyy'}}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitudProveedor.asignado }}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitudProveedor.fechaAsignacion | date: 'dd/MM/yyyy'}}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitud.estado.nombre }}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitud.urgente ? 'Sí' : 'No' }}</td>
                            <td class="border px-4 py-2 text-center">{{ solicitud.fechaAnalizado | date: 'dd/MM/yyyy' }}</td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </table>
    </div>

    <!-- Paginación y tamaño de filas centrados -->
    <div class="flex justify-between items-center mt-4 space-x-8">
        <div class="flex items-center">
            <label for="pageSize" class="mr-2">Mostrar registros del {{((this.numeroDePagina - 1) *
                this.cantidadDeRegistros) + 1}}
                al {{((this.numeroDePagina - 1) * this.cantidadDeRegistros) + this.cantidadDeRegistros}}
                de un total de {{solicitudesAnalisisPaginadas.length}} registros
            </label>
        </div>
        <!-- Paginación -->
        <div class="flex items-center space-x-2">
            <!-- Botón regresar -->
            <button class="p-2 rounded bg-gray-200 hover:bg-gray-300" (click)="cambiarPagina(-1)">
                Anterior
            </button>
            <span>{{ numeroDePagina }}</span> <!-- Número de página -->
            <!-- Botón siguiente -->
            <button class="p-2 rounded bg-gray-200 hover:bg-gray-300" (click)="cambiarPagina(1)">
                Siguiente
            </button>
        </div>
    </div>

</div>