<!-- component -->
<nav class="flex bg-custom-blue items-center relative justify-between px-5 py-6 w-full">
    <div>
        <svg width="41" height="39" viewBox="0 0 41 39" fill="none" xmlns="http://www.w3.org/2000/svg">
           
        </svg>
    </div>
    <div class="flex gap-3 items-center text-[#92aa34]">
        <div class="h-10 w-10 hover:ring-4 user cursor-pointer relative ring-blue-700/30 rounded-full bg-cover bg-center bg-[url('https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80')]">
            <div class="drop-down w-48 overflow-hidden bg-white rounded-md shadow absolute top-12 right-3">
            </div>
        </div>
    </div>
</nav>