<!-- component -->
<aside
    class="fixed inset-0 flex flex-col w-64 h-screen px-5 py-8 overflow-y-auto bg-custom-blue border-r rtl:border-r-0 rtl:border-l dark:border-gray-700">

    <div class="flex items-center justify-center space-x-2">
        <!-- Texto "Sistema Solitel" centrado verticalmente -->
        <span class="text-[#92aa34] text-lg font-semibold">Sistema SOLITEL</span>
    </div>

    <div class="flex flex-col justify-between flex-1 mt-6">
        <nav class="-mx-3 space-y-6 ">

            <!-- Imagen más pequeña y centrada -->
            <div class="flex justify-center">
                <img src="https://sitiooij.poder-judicial.go.cr/images/placa-lg.png" alt="Placa OIJ"
                    class="w-24 h-auto">
            </div>

            <div class="space-y-3 ">
                <a routerLink="/"
                    class="flex items-center px-3 py-2 text-[#92aa34] transition-colors duration-300 transform rounded-lg hover:bg-[#E8E8E8] hover:text-[#1C355C]"
                    href="#">
                    <span class="mx-2 text-sm font-medium">Bandeja</span>
                </a>

                <a routerLink="/solicitud-proveedor"
                    class="flex items-center px-3 py-2 text-[#92aa34] transition-colors duration-300 transform rounded-lg hover:bg-[#E8E8E8] hover:text-[#1C355C]">
                    <span class="mx-2 text-sm font-medium">Solicitud Proveedor</span>
                </a>

                <a routerLink="/solicitud-analisis"
                    class="flex items-center px-3 py-2 text-[#92aa34] transition-colors duration-300 transform rounded-lg hover:bg-[#E8E8E8] hover:text-[#1C355C]"
                    href="#">
                    <span class="mx-2 text-sm font-medium">Solicitud Analista</span>
                </a>

                <a routerLink="/reporteria"
                    class="flex items-center px-3 py-2 text-[#92aa34] transition-colors duration-300 transform rounded-lg hover:bg-[#E8E8E8] hover:text-[#1C355C]"
                    href="#">
                    <span class="mx-2 text-sm font-medium">Reporteria</span>
                </a>
                <a routerLink="/analisis-telefonico"
                    class="flex items-center px-3 py-2 text-[#92aa34] transition-colors duration-300 transform rounded-lg hover:bg-[#E8E8E8] hover:text-[#1C355C]"
                    href="#">
                    <span class="mx-2 text-sm font-medium">Análisis Télefonico</span>
                </a>
            </div>

        </nav>
    </div>

</aside>